<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= asset_path('photo_banner.jpg') %>')">
  <div class="container">
    <h1>Rent a Cow <strong>Cow</strong> to <strong>creative people</strong>!</h1>
    <p>Change your life with a cow in your garden.</p>
    <a class="btn btn-flat" href="cow">Rent a cow</a>

  </div>
</div>
