<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= asset_path('photo_banner.jpg') %>')">

  <h1>Wel-Cow-Meuh!</h1>
    <h2 class="banner-subheading">In need of love and affection ? Rent a <strong>cow</strong> now !</h2>
    <p>Change your life with a lovely cow in your garden.</p>
  </div>
</div>
