<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= asset_path('photo_banner.jpg') %>')">
  <div class="container">
    <h1>In need of love and affection ? Rent a <strong>cow</strong> now !</h1>
    <p>Change your life with a lovely cow in your garden.</p>
    <a class="btn btn-flat btn-primary rounded-5" href="cow">Rent a cow</a>
  </div>
</div>
