  <div class="flex-container">
    <div class="card-cow">
    <div class="col-3"></div>
  <%= image_tag "popcorn.png" %>
    <div class="card-cow-infos">
    <h2>Vache name</h2>
    <p>Tres belle vache <strong>relevant info</strong> only.</p>
  </div>
 </div>
</div>
