<% @cows.each do |cow| %>
    <%= render partial: "shared/cardcow", locals: { cow: cow }  %>
    <% cow.bookings.each do |booking| %>
      <p class="fw-bold"><%= booking.date %></p>
    <% end %>
<% end %>

<button><%= link_to "Add a cow", new_cow_path %></button>
