<h3>My Cows</h3>
<% @cows.each do |cow| %>
  <ul>
    <li>
     <%= cow.name %>
    </li>
    <% cow.bookings.each do |booking| %>
      <ul>
        <li>
          <%= booking.date %>
        </li>
      </ul>
    <% end %>
  </ul>
<% end %>

<button><%= link_to "Add a cow", new_cow_path %></button>
