
<h1>WelCow Meuh !</h1>
<p></p>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-6">
     <figure>
        <img src="/root/code/Helene3324/rails-rent-a-cow/app/assets/images/photo_banner.jpg" alt="Vache_Home." />
      </figure>
  </div>
</div>
