
<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-6">
     <h1>WelCow Meuh !</h1>
  </div>
  </div>
  <div class="footer">
    <div class="footer-links">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
  </div>
  <div class="footer-copyright" class="color">
   <strong> All we </strong> <i class="fas fa-heart"></i><strong> is Cows</strong>
  </div>
</div>
