.card-cows {

  overflow: hidden;
  height: 120px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  border-radius: 8px;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTDnoypqQNiBI-RMFYARAnFUbOPqq9U4UaPWQ&usqp=CAU");
  background-size: cover;
  background-position: center;
}
.flex-container {
  display: flex;
  justify-content: center;
  align-self: center;

}

.card-cows img {
  height: 120px;
  width: 20%;
  object-fit: cover;
}

.card-cows h2 {
  text-decoration-color: black;
  font-size: 24px;
  font-weight: bold;
  margin-top: 0px;
  margin-left: 66px;
}

.card-cows p {
  font-size: 18px;
  line-height: 1;
  margin-bottom: 0px;
  margin-top: 12px;
  margin-left: 66px;
}

.card-cows .card-cow-infos {
  padding: 16px;
  align-items: center;
}
