.card-cows {
  overflow: hidden;
  height: 120px;
  background: rgb(251, 252, 251);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;

}
.flex-container {
  display: flex;
  justify-content: center;
  align-self: center;

}

.card-cows img {
  height: 100%;
  width: 120px;
  object-fit: cover;
  border-radius: 8px;
}

.card-cows h2 {
  font-size: 16px;
  font-weight: bold;
  margin-top: 6px;


}

.card-cows p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 12px;
  margin-left: 6px;
}

.card-cows .card-cow-infos {
  padding: 16px;
  align-self: flex-end;
}
