.navbar-lewagon {
  justify-content: space-between;
  background: white;
  margin-top: 0.5rem;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 14px;
  height: 14px ;
}

.navbar .navbar-title {
  font-family: 'Acme';
  font-size: 24px;
}
