<div class="container">
  <div class="row">
    <h2>Vache name</h2>
    <div class="col-6"></div>
      <div class="card-cow">
      <%= image_tag "popcorn.png" %>
      <div class="card-cow-infos">
    <p>Tres belle vache <strong>relevant info</strong> only.</p>
  </div>
  <div></div>
</div>
