<h1>All the Cows</h1>

  <% @cows.each do |cow| %>
  <div class="flex-container">
  <div class="flex-item">
    <div class="card-cow">
        <div class="card-cow-infos">
        <%= image_tag(cloudinary_url("cloudinary://554131736232446:1Ios3vdlxRBl1s1nH8I97VS52Go@dw25hg2ws")) %>
          <h2><%= link_to "#{cow.name}", cow_path(cow.id) %></h2>
          <p>Tres belle vache <strong>relevant info</strong> only.</p>
    </div>
  </div>
</div>
  <% end %>
